# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Data files
data/*.csv

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Environment files
env/
.venv/
venv/
*.env

# Virtual environments
*.egg-info/
*.egg
.env

# macOS metadata
.DS_Store

# Ignore any large files
*.log
*.sqlite3
*.db

# VSCode settings
.vscode/

# Environment files for conda or virtualenv
environment.yml
requirements.txt

# Jupyter notebook metadata
*.ipynb-meta
